@import '../../../scss/utils/mixins';


.root {
	width: 100%;
	max-width: 500px;
	margin-top: 30px;
	@include vp-1023 {
		padding: 0 20px;
		margin-top: 0;
	}

	h2, h3, h4, p {
		margin: 0;
	}

	h2, h3 {
		margin-bottom: 10px;
	}

	h3 {
		margin-top: 15px;

		@include vp-1023 {
			font-size: 16px;
		}
	}

	h4 {
		margin-bottom: 5px;
	}

	h2 {
		@include vp-1023 {
			font-size: 20px;
		}
	}

	button {
		height: 48px;
		padding: 8px 12px;
		border-radius: 25px;
		border: none;
		cursor: pointer;
		font-weight: 600;
		font-size: 16px;
		white-space: nowrap;
	}
}

.fields {
	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	@include vp-1023 {
		gap: 10px;
	}
}

.field {
	width: 100%;
	display: flex;
	flex-direction: column;

	input[type='text'],
	input[type='date'],
	select {
		height: 48px;
		border-radius: 15px;
		outline: none;
		border: 2px solid #e1e1e1;
		padding-left: 20px;
		font-size: 16px;
		background-color: #ffffff;

		@include vp-1023 {
			font-size: 14px;
			width: 100%;
		}
	}
}

.labelText {
	font-size: 12px;
	margin-bottom: 7px;
}

.fieldPass {
	display: flex;
	align-items: flex-end;
	gap: 30px;

	@include vp-1023 {
		flex-direction: column;
		gap: 10px;
	}
}

.fieldBusiness {
	display: flex;
	align-items: center;
	gap: 30px;

	@include vp-1023 {
		flex-direction: column;
		gap: 10px;
		align-items: flex-end;
	}
}

.blockWrap {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include vp-1023 {
		gap: 10px;
	}
}

.blockWrapDelete {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	@include vp-1023 {
		flex-direction: column;
		gap: 10px;
		width: 100%;
		align-items: start;

		button {
			width: 100%;
		}
	}
}

.block {
	display: flex;
	flex-direction: column;
}

.radioInput {
	display: flex;
	justify-content: space-between;

	input {
		margin: 0;
		padding: 0;
	}
}

.inputItem {
	display: flex;
	align-items: center;
	gap: 5px;
}