@import '../../scss/utils/mixins';

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	max-width: 1500px;
	margin: 0 auto;

	@include vp-1023 {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.btnSettings {
	background-color: #7a4ad8;
	padding: 10px;
	border-radius: 7px;
	text-decoration: none;
	border: 1px solid #7a4ad8;
	color: #ffffff;
	margin-top: 20px;
	font-weight: 600;

	@include vp-1023 {
		display: none;
	}
}

.iconsMobile {
	display: none;
	text-decoration: none;


	@include vp-1023 {
		display: flex;
		gap: 20px;
		align-items: center;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	svg {
		width: 30px;
		height: auto;
		color: #7a4ad8;
	}
}

.postWrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;
	margin-top: 40px;
	margin-bottom: 40px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 20px;
	column-gap: 20px;

	@include vp-1023 {
		gap: 10px;
		grid-template-columns: repeat(2, 1fr);
	}
}
