.root {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding: 20px;
	height: 100%;
	margin-bottom: 80px;
}

.nav {
	display: flex;
	gap: 30px;
}

.link {
	text-decoration: none;
	color: #333333;
	font-weight: 600;
}

.isActive {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 90%;
		height: 3px;
		background-color: #333333;
		left: 50%;
		transform: translateX(-50%);
		bottom: -5px;
	}
}