@import '../../scss/utils/mixins';

.root {
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	background-color: var(--bg-sec);
	z-index: 1000;
	padding: 10px 30px 30px;
	border-radius: 0 0 16px 16px;
	width: 70vw;
	row-gap: 20px;
	max-height: calc(100vh - 80px);
	overflow-y: overlay;
	overflow-x: hidden;

	@include vp-1023 {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		background-color: var(--bg);
		width: 100%;
		padding: 20px;
		z-index: 0;
	}
}

.wrapSearchedCard {
	display: grid;
	grid-template-columns: repeat(auto-fit, 236px);
	margin: 0 auto;
	grid-gap: 10px;
	width: 100%;
	height: 100%;
	padding: 10px 3vw;
	justify-content: center;
	grid-template-rows: masonry;
	position: relative;

	@include vp-1023 {
		grid-template-columns: repeat(auto-fit, 30.788530466%);
		padding: 0 2.840909091%;
		padding-top: 10px;
		padding-bottom: 90px;
	}

	@include vp-767 {
		grid-template-columns: repeat(auto-fit, 47.75%);
		padding: 0 2.840909091%;
		padding-top: 10px;
		padding-bottom: 90px;
	}
}

.searches {
	display: flex;
	gap: 15px;
	width: 100%;
	flex-wrap: wrap;
}

.searchesItem {
	background-color: var(--hover-link);
	width: auto;
	padding: 3px 10px;
	display: flex;
	align-items: center;
	border-radius: 13px;
	gap: 10px;
	cursor: pointer;

	button {
		border-radius: 50%;
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.linkSearch {
	width: min-content;
	padding: 5px;
	text-decoration: none;
	height: auto !important;
	div {
		width: 100%;
		height: 25px;
		pointer-events: none;
	}

	img {
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}

	span {
		font-size: 16px;
	}
}

.wrapper {
	h3 {
		margin: 0;
		margin-bottom: 20px;
		font-size: 20px;
	}

	@include vp-1023 {
		display: none;
	}
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 10px;
	column-gap: 10px;

	@include vp-1023 {
		grid-template-columns: repeat(2, 1fr);
	}
}

.recent {
	display: block;

	@include vp-1023 {
		display: none;
	}
}

.input {
	width: 100%;
	position: relative;

	input {
		width: 100%;
		height: 48px;
		background-color: var(--bg-search);
		color: var(--text-search);
		font-size: 16px;
		outline: none;
		border: none;
		border-radius: 30px;
		padding-left: 40px;
	}
}

.iconSearch {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	color: #5f5f5f;
}

.clearBtn {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	border: none;
	cursor: pointer;
}

.searchedItem {
	display: flex;
	gap: 3px;
	align-items: center;
	padding: 5px;
	cursor: pointer;
}

.searchWrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
