@import "../../scss/utils/mixins";

.root {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	@include vp-1023 {
		padding: 0;
		padding-bottom: 80px;
	}
}

.backBtn {
	position: fixed;
	left: 40px;
	top: 80px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s;
	z-index: 9999;

	svg {
		height: 24px;
		width: auto;
	}

	@include hover {
		background-color: #e1e1e1;
	}
}

.wrapper {
	display: flex;
	align-items: stretch;
	background-color: #ffffff;
	margin: 30px 30px;
	width: 1000px;
	min-height: 80vh;
	max-height: 768px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.5);

	@include vp-1023 {
		flex-direction: column;
		width: 100%;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		margin: 0;
		box-shadow: none;

		max-height: 100%;
	}
}

.postWrapper {
	width: 100%;
	// display: flex;
	// flex-wrap: wrap;
	// align-items: center;
	// justify-content: start;
	margin-top: 40px;
}


.wrap {
	display: grid;
	grid-template-columns: repeat(auto-fit, 236px);
	margin: 0 auto;
	grid-gap: 10px;
	width: 100%;
	height: 100vh;
	padding: 10px 3vw;
	justify-content: center;
	grid-template-rows: masonry;
	position: relative;

	@include vp-1023 {
		grid-template-columns: repeat(auto-fit, 30.788530466%);
		padding: 0 2.840909091%;
		padding-top: 10px;
		padding-bottom: 0;
		height: auto;
	}

	@include vp-767 {
		grid-template-columns: repeat(auto-fit, 47.75%);
		padding: 0 2.840909091%;
		padding-top: 10px;
		padding-bottom: 0;

	}
}