@import '../../scss/utils/mixins';

.root {
	width: 100%;
	height: 100%;
	padding-bottom: 20px;

	@include vp-1023 {
		position: relative;
		width: 100%;
		top: auto;
		right: auto;
		z-index: 1;
		height: 100%;
		padding-bottom: 0;
		margin-bottom: 0;
		// max-height:
	}

	form {
		width: 100%;
	}
}

.messages {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	max-height: 100%;
	overflow-y: scroll;
	margin-top: auto;
	scrollbar-width: thin;

	@include vp-1023 {
		// min-height: calc(100% - 72px);
		height: calc(100% - 72px);
		max-height: calc(100% - 72px);
		margin-top: 0;
	}
}

.myMessage,
.userMessage {
	position: relative;
	display: flex;
	max-width: 300px;
	padding: 14px;
	border: #d1d1d1 1px solid;
	margin-top: 25px;
	border-radius: 20px;
}

.textMess {
	width: 100%;
	overflow-wrap: break-word;
}

.sender {
	position: absolute;
	top: -22px;
	font-size: 14px;
}

.myMessage {
	justify-content: right;
	align-self: flex-end;
	background-color: #7a4ad8;
	border: 1px solid #7a4ad8;

	.sender {
		right: 0;
	}

	.textMess {
		color: #ffffff;
	}
}

.userMessage {
	justify-content: left;
	align-self: flex-start;

	.sender {
		left: 0;
	}
}

.backBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 10px;
	top: 8px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s;

	svg {
		height: 24px;
		width: auto;
	}

	@include hover {
		background-color: #e1e1e1;
	}
}

.header {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
	-webkit-box-shadow: 0px 14px 32px -6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 14px 32px -6px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 14px 32px -6px rgba(0, 0, 0, 0.2);
	margin-left: -10px;
	margin-right: -10px;
	border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 16px;
	background-color: #ffffff;
	padding: 10px;
	height: 100%;
	overflow-y: scroll;
	-webkit-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.5);

	@include vp-1023 {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0;
		height: 100%;
		margin-top: 0;
	}

	button {
		width: 100%;
		margin-bottom: 8px;
		height: 64px;
		border-radius: 8px;
		border: none;
		outline: none;
		background-color: transparent;
		cursor: pointer;
		display: flex;
		align-items: center;

		padding: 8px;

		@include hover {
			background-color: #e1e1e1;
		}

		span:nth-child(2) {
			font-size: 16px;
			font-weight: 600;
		}
	}
}

.newMessage,
.newFriends {
	span:nth-child(1) {
		background-color: #7a4ad8;
		display: flex;
		justify-content: center;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		margin-right: 8px;

		svg {
			color: #ffffff;
			width: 20px;
			height: auto;
		}
	}
}

.newFriends {
	span:nth-child(1) {
		background-color: #e9e9e9;

		svg {
			color: #333333;
		}
	}
}

.title {
	font-size: 16px;

	@include vp-1023 {
		display: none;
	}
}

.titleWrapper {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
	margin-top: 16px;

	h3 {
		white-space: nowrap;
		margin: 0;
		font-size: 20px;
	}

	button {
		height: 32px;
		width: auto;
		border-radius: 20px;
		font-weight: 600;
		font-size: 16px;
		margin: 0;
	}
}

.input {
	width: 100%;
	position: relative;
	margin-bottom: 8px;

	input {
		width: 100%;
		height: 48px;
		border: 2px solid #e1e1e1;
		background-color: #ffffff;
		color: #333333;
		font-size: 16px;
		outline: none;
		border-radius: 30px;
		padding-left: 40px;
	}
}

.iconSearch {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	color: #5f5f5f;
}

.footer {
	display: flex;
	width: 100%;
	padding: 8px 0;
	gap: 5px;

	button {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		svg {
			width: 20px;
			height: auto;
			transform: rotate(45deg);
		}
	}

	input {
		width: 100%;
		height: 48px;
		border: 2px solid #e1e1e1;
		background-color: #ffffff;
		color: #333333;
		font-size: 16px;
		outline: none;
		border-radius: 30px;
		padding-left: 20px;
	}
}

.containerMessage {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.usersList {
	max-height: 100%;
	width: 100%;
	overflow: scroll;
}

.linkUser {
	padding: 5px;
	height: 48px !important;

	div {
		width: 100%;
		height: 30px;
		pointer-events: none;
	}

	img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}

	span {
		font-size: 20px;
	}
}

.talkers {
	width: 100%;
	@include vp-1023 {
		max-height: 60%;
		overflow: scroll;
	}
}

.talker {
	cursor: pointer;
	border-radius: 8px;

	@include hover {
		background-color: #e1e1e1;
	}
}
