.root {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .root {
    width: 100%;
  }
}

.slide {
  height: 100%;
}
.slide img {
  border-radius: 30px;
}

.slideVideo {
  height: 100%;
  padding-bottom: 35px;
}

.sliderWrap {
  max-height: 600px;
  height: -moz-min-content;
  height: min-content;
}

.wrap {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media (max-width: 1024px) {
  .wrap {
    flex-direction: column;
    padding: 0 20px 110px;
  }
}

.headerAddPost {
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
  padding-left: 30px;
  align-items: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  height: 81px;
}
.headerAddPost h2 {
  margin: 0;
}
.headerAddPost button {
  padding: 0 16px;
  border-radius: 30px;
  height: 48px;
  border: none;
  outline: none;
  background-color: #7a4ad8;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}
@media (hover: hover) {
  .headerAddPost button:hover {
    opacity: 0.8;
  }
}

.imageBlock {
  width: 350px;
  height: auto;
  max-height: 600px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  overflow: hidden;
  border: 1px dashed #5f5f5f;
  border-radius: 30px;
  align-items: stretch;
}
@media (max-width: 1024px) {
  .imageBlock {
    width: 100%;
  }
}
.imageBlock img {
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttonImageDel {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 0;
  height: 40px;
  z-index: 1000;
  background-color: rgba(194, 194, 194, 0.5568627451);
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
@media (hover: hover) {
  .buttonImageDel:hover {
    background-color: rgba(194, 194, 194, 0.7254901961);
  }
}
.buttonImageDel:focus {
  background-color: rgba(194, 194, 194, 0.7254901961);
}

.buttonAddMore {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  border: 0;
  height: 60px;
  z-index: 1000;
  background-color: rgba(194, 194, 194, 0.5568627451);
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom-left-radius: 30px;
}
.buttonAddMore svg {
  width: 30px;
  height: 30px;
  color: #7a4ad8;
}
@media (hover: hover) {
  .buttonAddMore:hover {
    background-color: rgba(194, 194, 194, 0.7254901961);
  }
}
.buttonAddMore:focus {
  background-color: rgba(194, 194, 194, 0.7254901961);
}

.buttonImage {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: 0;
  background-color: #e1e1e1;
  transition: all 0.3s;
}
@media (hover: hover) {
  .buttonImage:hover {
    opacity: 0.8;
  }
}
.buttonImage svg {
  height: 40px;
}
.buttonImage span:nth-child(2) {
  margin-top: 30px;
  font-size: 18px;
}
.buttonImage span:nth-child(3) {
  position: absolute;
  font-size: 14px;
  bottom: 40px;
}

.fileWrapper {
  margin-top: 20px;
  margin-bottom: 16px;
  margin-right: 48px;
}
@media (max-width: 1024px) {
  .fileWrapper {
    margin-right: 0;
  }
}

.buttonLink {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #e1e1e1;
  color: #000000;
  font-weight: 600;
  transition: all 0.3s;
  border: 0;
  cursor: pointer;
}
@media (hover: hover) {
  .buttonLink:hover {
    opacity: 0.8;
  }
}

.addWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  gap: 20px;
  max-width: 600px;
}
@media (max-width: 1024px) {
  .addWrapper {
    max-width: 100%;
  }
}
.addWrapper input {
  height: 48px;
  border-radius: 15px;
  outline: none;
  border: 2px solid #e1e1e1;
  padding-left: 20px;
  font-size: 16px;
  transition: all 0.3s;
}
@media (hover: hover) {
  .addWrapper input:hover {
    border: 2px solid #7a4ad8;
    background-color: rgba(121, 74, 216, 0.137254902);
  }
}
.addWrapper input:focus {
  border: 2px solid #7a4ad8;
  background-color: rgba(121, 74, 216, 0.137254902);
}
.addWrapper textarea {
  margin: 0;
  padding: 0;
  border-radius: 20px;
  width: 100%;
  outline: none;
  border: 2px solid #e1e1e1;
  padding-left: 20px;
  font-size: 16px;
  padding-top: 10px;
  resize: none;
  transition: all 0.3s;
}
@media (hover: hover) {
  .addWrapper textarea:hover {
    border: 2px solid #7a4ad8;
    background-color: rgba(121, 74, 216, 0.137254902);
  }
}
.addWrapper textarea:focus {
  border: 2px solid #7a4ad8;
  background-color: rgba(121, 74, 216, 0.137254902);
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.field label {
  font-size: 12px;
  margin-bottom: 7px;
}

.select {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: #7a4ad8;
  width: -moz-min-content;
  width: min-content;
  transition: all 0.3s;
}
@media (hover: hover) {
  .select:hover {
    opacity: 0.8;
  }
}
.select p {
  margin: 0;
  margin-right: 5px;
  white-space: nowrap;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.options input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.optionsClose {
  display: none;
}

input[type=checkbox]:focus + .container__checkbox {
  outline: none;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}
input[type=checkbox]:focus + .container__checkbox::after {
  background-color: #ffffff;
}

.container__checkbox {
  display: block;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  border: 1px solid #7a4ad8;
  cursor: pointer;
  transition: all 0.5s;
}
.container__checkbox:disabled {
  border-color: #ffffff;
  background-color: #ffffff;
}
@media (hover: hover) {
  .container__checkbox:hover {
    outline: none;
    border-color: #7a4ad8;
    background-color: #7a4ad8;
  }
}

input[type=checkbox]:checked + .container__checkbox {
  background-color: #ffffff;
  border: 1px solid #7a4ad8;
  position: relative;
}
input[type=checkbox]:checked + .container__checkbox:disabled {
  border-color: #c2c2c2;
  background-color: #c2c2c2;
}
input[type=checkbox]:checked + .container__checkbox:disabled::after {
  background-color: #ffffff;
}
@media (hover: hover) {
  input[type=checkbox]:checked + .container__checkbox:hover {
    background-color: #7a4ad8;
    border-color: #7a4ad8;
  }
  input[type=checkbox]:checked + .container__checkbox:hover::after {
    background-color: #ffffff;
  }
}
input[type=checkbox]:checked + .container__checkbox::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-mask-image: url("../../../img/icons/icon-check.svg");
          mask-image: url("../../../img/icons/icon-check.svg");
  background-color: #7a4ad8;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
}

.disabled {
  background-color: #c2c2c2 !important;
  border-color: #c2c2c2 !important;
  pointer-events: none;
}

.option label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.addLink {
  top: 25px;
  right: 0;
  background-color: #7a4ad8;
  padding: 0 13px;
  height: 48px;
  border-radius: 13px;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin: 10px 0;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}
@media (hover: hover) {
  .addLink:hover {
    opacity: 0.8;
  }
}
.addLink:focus {
  opacity: 0.8;
}

.video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=AddPost.module.css.map */